@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

/* utilities de fonte */
@utility font-montserrat {
  font-family: "Montserrat", sans-serif;
}

@utility font-nunito {
  font-family: "Nunito", sans-serif;
}



:root {
  --background: #fffaf2;
  --background-aux: #e8e4df;
  --first: #9d0208;
  --first-blur: #9d020810;
  --text: #370617;
  --montserrat: "Montserrat", sans-serif;
  --nunito: "Nunito", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ff0000;
  }
} */

@theme inline {
  --color-background: var(--background);
  --color-background-aux: var(--background-aux);
  --color-first: var(--first);
  --color-first-blur: var(--first-blur);
  --color-text: var(--text);
  --font-montserrat: var(--montserrat);
  --font-nunito: var(--nunito);
}


body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
