@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Burgues Script";
  src: url("/fonts/BurguesScript.otf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@utility font-montserrat {
  font-family: "Montserrat", sans-serif;
}

@utility font-nunito {
  font-family: "Nunito", sans-serif;
}

@utility font-burgues {
  font-family: "Burgues Script", cursive;
}

:root {
  --montserrat: "Montserrat", sans-serif;
  --nunito: "Nunito", sans-serif;
  --burgues: "Burgues Script", cursive;

  --text: #4d2c23;
  --text-aux: #b5432a;

  --background: #fdfbf5;
  --background-aux: #f5f0e6;
  --background-blur: #4d2c2360;

  --button: #b5432a;
  --button-aux: #d9694f;
  --button-sec: #4d2c23;
  --button-sec-aux: #754b3e;

  --highlight: #e8a76f;
  --highlight-aux: #f2c8a2;
  --highlight-blur: #e8a76f60;
}

@theme inline {
  --font-montserrat: var(--montserrat);
  --font-nunito: var(--nunito);
  --font-burgues: var(--burgues);

  --color-text: var(--text);
  --color-text-aux: var(--text-aux);

  --color-background: var(--background);
  --color-background-aux: var(--background-aux);
  --color-background-blur: var(--background-blur);

  --color-button: var(--button);
  --color-button-aux: var(--button-aux);
  --color-button-sec: var(--button-sec);
  --color-button-sec-aux: var(--button-sec-aux);

  --color-highlight: var(--highlight);
  --color-highlight-aux: var(--highlight-aux);
  --color-highlight-blur: var(--highlight-blur);
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
